<div class="container">
  <div class="flex-container d-flex justify-content-between align-items-center ">

<div>
  <h2 class="title">Upload and Process Excel File</h2>

  <!-- drag and drop test -->

  <div class="upload-box" (click)="fileInput.click()" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)" *ngIf="!showPreview">
    <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx,.xls" style="display: none;" />
    <div class="upload-area">
      <img src="assets/images/upload-drag-drop.svg" alt="upload drag and drop" class="mb-3" />
      <p class="fs-15 font-w600 text-black">
        Drag & Drop or Click here to upload
      </p>
      <p>Please use excel files</p>
      <p>Max file size: 20MB</p>
    </div>
  </div>

  <div class="preview-container" *ngIf="showPreview">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="assets/images/file.svg" alt="file" />
        <div class="ms-2 me-3">
          <h2 class="download-file" [innerText]="selectedFile.name">
            New_suppliers.csv
          </h2>
          <p class="mb-0" [innerText]="convertBytesToMB(selectedFile.size)">
            12.5MB
          </p>
        </div>
      </div>

      <img src="assets/images/close.svg" alt="close" (click)="closePreview()" width="11" class="c-pointer me-2"/>
    </div>
  </div>
</div>
<div>
  <h2 class="mb-0">Identify the matching cell for each input field.</h2>
  <form [formGroup]="fieldsForm" class="form-input">
    <!-- Telephone Field -->
    <div class="file-header">
      <label for="telephone">Telephone</label>
      <input type="number" id="telephone" class="input-number" formControlName="telephone" placeholder="Cell"/>
      <div *ngIf="fieldsForm.get('telephone')?.invalid && fieldsForm.get('telephone')?.touched" class="error">
        <small *ngIf="fieldsForm.get('telephone')?.errors?.['required']">Telephone cell is required</small>
        <small *ngIf="fieldsForm.get('telephone')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>

    <!-- Tel Gestionnaire Field -->
    <div class="file-header">
      <label for="telGestionnaire">Tel Gestionnaire</label>
      <input type="number" id="telGestionnaire" class="input-number" formControlName="telGestionnaire" placeholder="Cell"/>
      <div *ngIf="fieldsForm.get('telGestionnaire')?.invalid && fieldsForm.get('telGestionnaire')?.touched" class="error">
        <small *ngIf="fieldsForm.get('telGestionnaire')?.errors?.['required']">Tel Gestionnaire is required</small>
        <small *ngIf="fieldsForm.get('telGestionnaire')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>

    <!-- Amount Field -->
    <div class="file-header">
      <label for="amount">Amount</label>
      <input type="number" id="amount" class="input-number" formControlName="amount" placeholder="Cell" />
      <div *ngIf="fieldsForm.get('amount')?.invalid && fieldsForm.get('amount')?.touched" class="error">
        <small *ngIf="fieldsForm.get('amount')?.errors?.['required']">Amount is required</small>
        <small *ngIf="fieldsForm.get('amount')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>
  </form>
</div>
</div>
  <div class="btn" id="sous-drag">
    <button (click)="onUpload()" class="action-button" [disabled]="!selectedFile">Process the file</button>
    <button (click)="downloadProcessedFile()" class="action-button" [disabled]="!selectedFile || fieldsForm.invalid" >  Download Processed File</button>
    <button (click)="downloadHistory" class="action-button" [disabled]="!selectedFile || fieldsForm.invalid" >Download History</button>

  </div>

<div class="flex-container d-flex justify-content-between align-items-center ">

  <!--Non-Valid Rows Table -->
  <div>
<h3>Non-Valid Rows:</h3>
<table border="1">
  <tr *ngFor="let row of fileNonValide">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>
</div>
 <!-- Preview Processed File -->
  <div>
    <h3 >File After Processing:</h3>
    <table border="1" >
      <tr *ngFor="let row of fileAfter">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </table>
  </div>

</div>
