<div class="container">
  <h2 class="title">Upload and Process Excel File</h2>

  <!-- drag and drop test -->

  <div class="drag-drop-area" (dragover)="onDragOver($event)" (drop)="onFileDrop($event)"
    (dragleave)="onDragLeave($event)" [class.dragging]="isDragging" accept=".xlsx,.xls">

    <img class="cloud-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4i
      xAAAACXBIWXMAAAsTAAALEwEAmpwYAAAC70lEQVR4nO2Y24tNURzHP2Zcj0sT48yhyC1FFFHThFyKpvHiRSQ8zwOat+FN
      lEZR5A8YJEoZD+6J4uQaIYxcGqWExMxghinmaE3freU458y5rD1nn+xP7dpr771+v993r9tvLQgJCQkCg4EFwEZgG7AFWAM
      sBMopAaqBw8BXIJHm+gg0AzUEkAnASaDXCvgZcBw4CBwCWoCnSaJagOkEhGXAewX2GdgFTMrw/QxgJ9CpOu1ALUVmFfBdAZ
      0AojnUHa8WM3V/ApspErOBbwpkR542Bqmu6ZI9wGJ8IqKZZoW6hMcQ4IlE7HbgZ49smS5agUOmAceA7qTB2QqsBRpUvgaUO
      fBXBlyRzSYcUWsNRNN3HwBXgdeWINMVfgGzXDkF5smm+XlVLox1KdhmTas2NRLmTZ2uOS3b9YUauiFDe/sZN/Uu/loKNsn/
      BQpgvoy81GAuBlHF8KkQIw0OZ6FC6FYcI/KpvAS4JwNFW5hEm+KYSg5UWQPMS+js9aIYvFUs+4HVwND+Ksy0ptQ2DbS8mtMx
      j5PWrg9AY7pxOw54pQ9PAaMIDmOARcAGLco9ivNuqlzuqF5e8mGGiuaYPGaTZdyyMgsj9E+y16vVeyJuiclZq+5dMVzpUEKt1
      Mc+PTiAW2LaTNkbK5diYsAXNYLJQLgvR0t9FOGXmCa7EdpVGOuDiOQWcS2mWjbNzMYPFYb5ICJmCUn1rlAqZK/DFN6okGlfnS2
      PUgTqCSFJzEMH/kbKltmZclmFdQ4M31Fab/9tWwh6Z0TcduBvjmy/MIWtKpzBH5KFuKTR2itRae0AzVFOqQiJWHlYnfdwux68A6a
      UiJAjsntTpy99mPPX85aY5QEWErFEdCoz+YvRwDnL8VlgPTA5m9TZZyERYK7GhNedzKq+Ml2Fcn3ckeHQOd0Vz0NIPA8/CXWnf1o
      iFZU6+r+odcZLnTNd130U0gU81+xUZ4+JgcTP6XdACYUEjbBFgkbYIkEjnmGNCQkJCflP+Q1txSw9AhDQdwAAAABJRU5ErkJggg==" alt="upload-to-cloud--v1">
    <p *ngIf="!selectedFile" >Drag and drop your file here, or click to upload</p>
    <input class="choose" type="file" (change)="onFileSelect($event)" accept=".xlsx,.xls"/>
    <p *ngIf="selectedFile">{{ selectedFile.name }}</p>
    <input type="file" hidden #fileInput (change)="onFileSelect($event)" />
    <p *ngIf="!selectedFile" class="btn-upload">Please use excel files</p>
  </div>

  <h2 class="mb-0">Identify the matching cell for each input field.</h2>
  <form [formGroup]="fieldsForm" class="form-input">
    <!-- Telephone Field -->
    <div class="file-header">
      <label for="telephone">Telephone</label>
      <input type="number" id="telephone" class="input-number" formControlName="telephone" placeholder="Cell"/>
      <div *ngIf="fieldsForm.get('telephone')?.invalid && fieldsForm.get('telephone')?.touched" class="error">
        <small *ngIf="fieldsForm.get('telephone')?.errors?.['required']">Telephone cell is required</small>
        <small *ngIf="fieldsForm.get('telephone')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>
  
    <!-- Tel Gestionnaire Field -->
    <div class="file-header">
      <label for="telGestionnaire">Tel Gestionnaire</label>
      <input type="number" id="telGestionnaire" class="input-number" formControlName="telGestionnaire" placeholder="Cell"/>
      <div *ngIf="fieldsForm.get('telGestionnaire')?.invalid && fieldsForm.get('telGestionnaire')?.touched" class="error">
        <small *ngIf="fieldsForm.get('telGestionnaire')?.errors?.['required']">Tel Gestionnaire is required</small>
        <small *ngIf="fieldsForm.get('telGestionnaire')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>
  
    <!-- Amount Field -->
    <div class="file-header">
      <label for="amount">Amount</label>
      <input type="number" id="amount" class="input-number" formControlName="amount" placeholder="Cell" />
      <div *ngIf="fieldsForm.get('amount')?.invalid && fieldsForm.get('amount')?.touched" class="error">
        <small *ngIf="fieldsForm.get('amount')?.errors?.['required']">Amount is required</small>
        <small *ngIf="fieldsForm.get('amount')?.errors?.['pattern']">Only numeric values allowed</small>
      </div>
    </div>
  </form>
  
  <div class="btn" id="sous-drag">
    <button (click)="onUpload()" class="action-button" [disabled]="!selectedFile" >Process the file</button>
    <button (click)="downloadProcessedFile()" class="action-button" [disabled]="!selectedFile || fieldsForm.invalid" >
      Download Processed File</button>
  </div>

<!-- <div class="flex-container d-flex justify-content-between align-items-center "> -->

  <!-- Non-Valid Rows Table -->
 <!-- <div>
<h3>Non-Valid Rows:</h3>
<table border="1">
  <tr *ngFor="let row of fileNonValide">
    <td *ngFor="let cell of row">{{ cell }}</td>
  </tr>
</table>
</div> -->
 <!-- Preview Processed File -->
  <div>
    <h3>File After Processing:</h3>
    <table border="1">
      <tr *ngFor="let row of fileAfter">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </table>
  </div>


<!-- </div> -->


